win32/wince_env/FreeMap/STANDARDSDK_500 (ARMV4I)/
win32/wince_env/FreeMap/Windows Mobile 5.0 Pocket PC SDK (ARMV4I)/
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
win32/wince_env/lib/
win32/wince_env/Roadmap.ncb
win32/wince_env/Device/Maps/
win32/wince_env/Device/libfribidi.dll
win32/wince_env/Device/lpngce.dll
win32/wince_env/Device/waze.exe
win32/wince_env/Device/zlibce.dll
win32/wince_env/Device/GPS/
